<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>My Fridge List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-label> Search Food Here</ion-label>
  <ion-searchbar type= "text" [(ngModel)]="userInput"> </ion-searchbar>
  <ion-item href="https://api.barcodelookup.com/v2/products?barcode=0041900072827&formatted=y&key=4r6ju8v7pvhximmzpezk041sky5rp7">
    <ion-icon slot="start" color="medium" name="basket"></ion-icon>
    <ion-label>PLZ WORK</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="seachChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="food">Food</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'fridge-list', item.imbID]">
      {{ item.Title }}
    </ion-item>
  </ion-list>
</ion-content>
