<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>My Fridge List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-label> Search Food Here</ion-label>
  <ion-searchbar type= "text" [(ngModel)]="userInput"> </ion-searchbar>
  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="seachChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="food">Food</ion-select-option>
    </ion-select>
  </ion-item>
  
  

</ion-content>

