<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fridge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/refrigerator.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Your Fridge</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Use the camera scaner to add food to your Fridge List</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Quick Look</ion-label>
      </ion-list-header>
      <ion-item href="file:///C:/Users/kongj/Desktop/download.jpg">
        <ion-icon slot="start" color="medium" name="basket"></ion-icon>
        <ion-label>Banana</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="basket"></ion-icon>
        <ion-label>Apple</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="basket"></ion-icon>
        <ion-label>Chicken</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="basket"></ion-icon>
        <ion-label>Broccoli</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
