<ion-header>
 <ion-toolbar color='primary'>
   <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
   </ion-buttons>
   <ion-title>vitalFridge</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card class="welcome-card">
     <ion-card-header>
       <ion-card-title>Welcome to Your Fridge</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <p>Use the barcode scanner to add food to your Fridge List.</p>
     </ion-card-content>
   </ion-card>
   <ion-content>
     <h1>Click To Scan</h1>
  
     <ion-button color="secondary" (click)="scanCode()">Scan Code</ion-button>

     <ion-button color="secondary" (click)="getAPIdata()">get barcode info</ion-button>

     <ion-button color="secondary" (click) = 'sendData()'>Add to fridge list</ion-button>

     <body onload="getAPIdata()">
        
      <strong>Product Name: </strong> <div id="ProductName"></div><br/>
      
        </body>
   </ion-content>
</ion-content>
